*{
    box-sizing: border-box;
    
}
body{ 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 15px 30px;
   font: size 17px;
   padding:8px;
}
.container{
    background-color:#f2f2f2;
    padding: 5px 20px 15px 20px ;
    border: 1px solid lightgrey;
    border-radius: 4px;

}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select,
textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;

}
fieldset{
    border-color: #f2f2f2;
    border: 1px solid #ccc;
    background-color: rgb(240, 255, 248);
}
.main-heading{
    text-align:center;
   background-color: aqua;
   box-sizing: border-box;
   box-shadow: 1px;
   margin-bottom:1%;
}

input[type="submit"] {
    background-color: aquamarine;
    color: rgb(94, 6, 6);
    padding: 12px 20px;
    border: none;
    border-radius:4px ;
    cursor: pointer;
    width:100%;
    font-size: large;
   margin-top:1%;


}


